:root {
    --table-border-color-inner: rgba(97, 114, 118, 0.16);
    --table-border-color-outer: rgba(29, 39, 59, 0.2);
    --размер-шрифта: 16px;
  }

div[class^="ql-editor"] {
    display: block;
    width: 100%;
    min-height: 150px;
    padding: .4375rem .75rem;
    font-family: var(--tblr-font-sans-serif);
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.4285714286;
    color: inherit;
    background-color: var(--tblr-bg-forms);
    background-clip: padding-box;
    border: var(--tblr-border-width) solid var(--tblr-border-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: var(--tblr-border-radius);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.ql-editor::after {
    content: '';
    display: block;
    height: 40px;
    width: 100%;
}

div[class^="ql-editor"] p {
    margin: 0 0 10px 0;
}

div[class^="ql-editor"]:focus {
    color: inherit;
    background-color: var(--tblr-bg-forms);
    border-color: #90b5e2;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(32, 107, 196, .25);
}

.quill-column {
    overflow-x: auto;
    overflow-y: scroll;
    max-height: 400px;
    white-space: wrap;
    min-width: 500px;
    text-align: left;
}

div[class^="ql-editor"],
.quill-column p,
.ql-editor p {
    margin: 0 0 10px 0;
}
div[class^="ql-editor"] p img,
.quill-column p img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


.ql-snow .ql-editor img,
iframe.ql-video,
.quill-column img {
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

iframe.ql-video::selection {
    background-color: rgba(13, 255, 0, 0.465);
}
.ql-snow .ql-editor img::selection {
    background-color: rgba(13, 255, 0, 0.465);
}
a[class^="nav-link dropdown-toggle"] {
    font-weight: bold;
    border-bottom: 1px solid rgba(184, 201, 234, 0.3);
}

table {
    text-align: center;
}
.table thead th {
    text-transform: none;
}
.table th,
.table td {
    border: 1px solid var(--table-border-color-inner);
    overflow: hidden;
    white-space: normal;
    padding: 5px;
}

.table th:nth-child(2),
.table td:nth-child(2) {
    min-width: 80px;
    text-align: center !important;
}

.table th:nth-child(n+3),
.table td:nth-child(n+3) {
    min-width: 150px;
}
.grid-image {
    max-width: fit-content;
    height: 120px;
    padding: 2px;
}
.grid-split-image {
    max-width: fit-content;
    height: 60px;
    padding: 2px;
}
.grid-pdf {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40px;
    padding: 2px;
}
.grid-audio {
    max-width: 300px; 
}
.grid-string-array {
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: default;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    padding: 0 5px;
    max-width: 300px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.grid-string-left {
    text-align: left;
}
.form-fieldset {
    border-color: var(--table-border-color-outer)
}
.form-fieldset .grid-pdf {
    display: inline;
}
select[id="education_genres"],
select[id="genres"] {
    height: 200px;
}

/* FORGOT PASSWORD */
a[class^="forgot_password"] {
    display: block;
    padding-bottom: 20px;
}
.required-label::after {
    content: "*";
    color: red;
}