{% extends "layout.html" %}
{% block content %}
<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">Зміна паролю</h5>
    </div>
    <form method="POST">
        <div class="modal-body">
            {% if error_message %}
            <div class="alert alert-danger" role="alert" id="errorAlert">
                {{ error_message }}
            </div>
            {% endif %}
            {% if success_message %}
            <div class="alert alert-success" role="alert" id="successAlert">
                {{ success_message }}
            </div>
            {% endif %}
            <fieldset class="form-fieldset">
                <div class="form-group mt-3">
                    <label for="old_password" class="required-label">Поточний пароль</label>
                    <input type="password" class="form-control" id="old_password" name="old_password" required>
                </div>
                <div class="form-group mt-3">
                    <label for="new_password" class="required-label">Новий пароль</label>
                    <input type="password" class="form-control" id="new_password" name="new_password" required>
                </div>
                <div class="form-group mt-3">
                    <label for="confirm_password" class="required-label">Повторіть новий пароль</label>
                    <input type="password" class="form-control" id="confirm_password" name="confirm_password" required>
                </div>
            </fieldset>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Змінити</button>
        </div>
    </form>
</div>
<script>
    window.onload = function() {
        if (window.performance) {
            if (performance.navigation.type == 1) {
                var errorAlert = document.getElementById('errorAlert');
                if (errorAlert) {
                    errorAlert.style.display = 'none';
                }
            }
        }
    
        setTimeout(function() {
            var successAlert = document.getElementById('successAlert');
            if (successAlert) {
                successAlert.style.display = 'none';
            }
        }, 5000);
    }
    </script>
{% endblock %}