{% extends "layout.html" %}
{% block content %}
<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">Зміна паролю</h5>
    </div>
    <form method="POST">
        <div class="modal-body">
            {% if error_message %}
            <div class="alert alert-danger" role="alert" id="errorAlert">
                {{ error_message }}
            </div>
            {% endif %}
            {% if success_message %}
            <div class="alert alert-success" role="alert" id="successAlert">
                {{ success_message }}
            </div>
            {% endif %}
            <fieldset class="form-fieldset">
                <div class="form-group mt-3">
                    <label for="old_password" class="required-label">Поточний пароль</label>
                    <div class="input-group">
                        {% set input_id = 'old_password' %}
                        <input id="{{ input_id }}" type="password" class="form-control rounded-input"
                            name="old_password" required>
                        {% set input_id = 'old_password' %}
                        {% include 'toggle_password.html' %}
                    </div>
                </div>
                <div class="form-group mt-3">
                    <label for="new_password" class="required-label">Новий пароль</label>
                    <div class="input-group">
                        {% set input_id = 'new_password' %}
                        <input id="{{ input_id }}" type="password" class="form-control rounded-input"
                            name="new_password" required>
                        {% include 'toggle_password.html' %}
                    </div>
                </div>
                <div class="form-group mt-3">
                    <label for="confirm_password" class="required-label">Повторіть новий пароль</label>
                    <div class="input-group">
                        {% set input_id = 'confirm_password' %}
                        <input id="{{ input_id }}" type="password" class="form-control rounded-input"
                            name="confirm_password" required>
                        {% include 'toggle_password.html' %}
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Змінити</button>
        </div>
    </form>
</div>
<script type="text/javascript" src="{{ url_for('static', path='js/toggle_password.js') }}"></script>
{% endblock %}