{% extends "base.html" %}
{% block body %}
<div class="d-flex align-items-center justify-content-center vh-100">
  {% if forgot_password == 'forgot' %}
  <form class="Fcol-lg-6 col-md-6 card card-md" action="{{ url_for('admin:forgot_password') }}" method="POST"
    autocomplete="off">
  {% else %}
  <form class="Fcol-lg-6 col-md-6 card card-md"
  action="{{ url_for('admin:reset_password') }}?token={{ request.query_params.get('token') }}" method="POST"
  autocomplete="off">
  {% endif %}
    <div class="card-body">
      <h2 class="card-title text-center mb-4">Password Recovery for {{ admin.title }}</h2>
      {% if error_message %}
      <div class="alert alert-danger" role="alert" id="errorAlert">
        {{ error_message }}
      </div>
      {% endif %}
      {% if success_message %}
      <div class="alert alert-success" role="alert" id="successAlert">
        {{ success_message }}
      </div>
      {% endif %}
      {% if forgot_password == "forgot" %}
      <div class="mb-0">
        <label class="form-label">Email</label>
        {% if error %}
        <input name="email" type="email" class="form-control is-invalid" placeholder="Enter email" autocomplete="off">
        <div class="invalid-feedback">{{ error }}</div>
        {% else %}
        <input name="email" type="email" class="form-control" placeholder="Enter email" autocomplete="off">
        {% endif %}
      </div>
      {% else %}
        <div class="mb-2">
          <label class="form-label">
            New Password
          </label>
          <div class="input-group input-group-flat">
            {% if error %}
            <input name="new_password" type="password" class="form-control is-invalid" placeholder="New Password"
              autocomplete="off">
            <div class="invalid-feedback">{{ error }}</div>
            {% else %}
            <input name="new_password" type="password" class="form-control" placeholder="New Password" autocomplete="off">
            {% endif %}
          </div>
        <div class="mb-1">
          <label class="form-label">
            Confirm Password
          </label>
          <div class="input-group input-group-flat">
            {% if error %}
            <input name="confirm_password" type="password" class="form-control is-invalid" placeholder="Confirm Password"
              autocomplete="off">
            <div class="invalid-feedback">{{ error }}</div>
            {% else %}
            <input name="confirm_password" type="password" class="form-control" placeholder="Confirm Password" autocomplete="off">
            {% endif %}
          </div>
        </div>
      {% endif %}
      <div class="form-footer">
        <button type="submit" class="btn btn-primary w-100">Request</button>
      </div>
    </div>
  </form>
</div>
{% endblock %}